<h1>Todo List</h1>

<div>
	<input type="text"
			[(ngModel)]="todoEnCours"
		/>
	<input type="checkbox"
		[(ngModel)]="todoEnCoursUrgence"
	/>

	<form (submit)="onSubmit()">
		<input type="submit" value="Ajouter cette Todo" class="btn btn-primary"/>
	</form>
</div>

<div>
	<h2>Todo List</h2>

	<ul [hidden]="todoList.length == 0">

		<!-- Appel au composant enfant todo-item -->
		<app-todo-item
			*ngFor="let todo of todoList; let i = index;"
			[i]="i"
			[todo]="todo"
			></app-todo-item>

	</ul>
</div>

<div>
	<h4>Les pipes</h4>

	{{ valeurMonetaire | currency }}
	<br>
	{{ valeurMonetaire | currency:'EUR' }}
	<br>
	{{ valeurMonetaire | currency:'CAD' }}


	<hr>

	{{ valeurPourcentage | percent:'3.1-5' }}


	<hr>

	{{ valeurPourcentage | exponential:75 }}
</div>