<form [formGroup]="angularForm">

	<div class="form-group">
		<label class="center-block">Nom:</label>

		<input
			[ngClass]="{'form-control': true,
			'is-invalid': nomInvalide()}"

			formControlName="nom"

			type="text"/>
	</div>

	<div *ngIf="nomInvalide()" class="alert alert-danger">
		Le nom est obligatoire
	</div>

	<div class="form-group">
		<label class="center-block">Password:</label>

		<input
			[ngClass]="{'form-control': true,
			'is-invalid': passwordInvalide()}"

			formControlName="password"

			type="password"/>
	</div>
	<div *ngIf="passwordInvalide()" class="alert alert-danger">
		Le mot de passe est obligatoire
	</div>

	<button type="submit"
		class="btn-success" [disabled]="problemeValidation()">
		Enregistrer
	</button>
</form>