<div class="row mt-1">
	<nav class="nav nav-pills nav-fill">
	  <a class="nav-link" ariaCurrentWhenActive="page" routerLinkActive="active" routerLink="/accueil">Accueil</a>
	  <a class="nav-link" ariaCurrentWhenActive="page" routerLinkActive="active" routerLink="/todoList">TodoList</a>
	  <a class="nav-link" ariaCurrentWhenActive="page" routerLinkActive="active" routerLink="/pipes">Les pipes</a>
	  <a class="nav-link" ariaCurrentWhenActive="page" routerLinkActive="active" routerLink="/observables">Les observables</a>

	  <a class="nav-link" ariaCurrentWhenActive="page" routerLinkActive="active" routerLink="/form">Le formulaire</a>


	  <a class="nav-link" ariaCurrentWhenActive="page" routerLinkActive="active" routerLink="/movie">Le module Movie</a>
	</nav>
  </div>