<div class="container">
	<h1>Recherche de film</h1>

	<hr>

	<div class="row">
		<div class="col">

			<form [formGroup]="searchForm" (submit)="onSubmit()">

				<div class="form-group">
					<label class="center-block">Votre recherche:</label>

					<input
						[ngClass]="{'form-control': true,
						'is-invalid': queryInvalide()}"

						formControlName="query"

						type="text"/>
				</div>

				<div *ngIf="queryInvalide()" class="alert alert-danger">
					Le terme de recherche ne convient pas!
				</div>

				<button type="submit"
					class="btn-success" [disabled]="queryInvalide()">
					Rechercher
				</button>

			</form>
		</div>

	</div>
</div>